#ingredients_metabox .cmb-th, #instructions_metabox .cmb-th{ 
    display: block !important;
}
#ingredients_metabox .cmb-td, #instructions_metabox .cmb-td{
    float: left !important; 
	display: flex;
} 
#ingredients_metabox .postbox .cmb-repeatable-grouping,#instructions_metabox .postbox .cmb-repeatable-grouping {
    display: block;
} 
#ingredients_metabox .cmb-type-group .cmb-th+.cmb-td, #ingredients_metabox.postbox-container .cmb-th+.cmb-td, #instructions_metabox .cmb-type-group .cmb-th+.cmb-td, #instructions_metabox.postbox-container .cmb-th+.cmb-td {
    width: 100% !important; 
	display: block;
}
#ingredients_metabox .cmb-type-group .cmb-th, #ingredients_metabox.postbox-container .cmb-th, #instructions_metabox .cmb-type-group .cmb-th, #instructions_metabox.postbox-container .cmb-th {
    width: 100% !important; 
}
#ingredients_metabox .postbox .hndle, #ingredients_metabox .stuffbox .hndle, #instructions_metabox .postbox .hndle, #instructions_metabox .stuffbox .hndle { 
    background-color: #23282d;
    color: #fff;
}
#ingredients_metabox .cmb-th label, #instructions_metabox .cmb-th label {
    color: #0085ba;
	display: inline-block !important;
    min-width: 75px;
}
#ingredients_metabox button.cmb-add-group-row, #instructions_metabox button.cmb-add-group-row{
    color: #fff !important;
    border-color: #2196F3 !important;
    background: #2196F3 !important;
}
#ingredients_metabox span.cmb2-metabox-description, #instructions_metabox span.cmb2-metabox-description { 
    margin: 0 5px;
	display: block;
}  
 
#ingredients_metabox [class*='cmb2-id-ingredients-group-']{
	display: inline-block;
    min-width: 13%;
	margin:0 5px !important;
}
#ingredients_metabox .hndle, #instructions_metabox .hndle{
    color: #fff !important;
    border-color: #222 !important;
    background: #222 !important;
}
.cmb2-metabox .cmbhandle { 
    display: none;
}
.handlediv:hover, .handlediv:focus {
    color: #72777c;
}
.cmb2-id-ingredients-group .button { 
    float: right; 
}
.cmb2-id-ingredients-group .move-down{
    margin-bottom: 20px;
}